
<div class="container">
    <h3>SuccessComponent</h3>
    <hr>
    <p>Success!</p>
    <p> The username is <span>{{username}} </span></p>
    <input type="text" class="form-control" (input)="UserEntry($event)">
    <button 
        class="btn btn-primary" 
        [disabled]="disableButton">
        Reset Username
    </button>
    
<hr>
</div>
    <div class="container">
        <button class=""btn btn-primary (click)="DisplayDetail()">Display Detail</button>
        <p [hidden]="!hidePassword">Secret Password = tune</p>
        <hr>
        <div class="container">
            <p *ngFor="let click of myClickA">{{myClickA[0]}}</p>
            <p [hidden] ="hideParagraph"*ngFor="let click of myClickB" [ngStyle]="{backgroundColor: GetColor()}" [ngClass]="{fontColor: counter > 6} ">{{myClickB}}</p>
            
        </div>
    </div>

    


